@media screen and (orientation: landscape) {
	body:after {
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		z-index: 999999999999999999;
		width: 3.76vw;
		height: 54.34vh;
		background: #000;
		border-radius: 0 3vw 3vw 0;
	}
}